mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.github img {
  height: 32px;
  vertical-align: middle;
}

.content {
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  mat-toolbar {
    padding: 0 25%;
  }
}
